Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

Keywords are the reserved words which cannot be used as identfiers

In [2]:
import keyword

In [5]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Q.2. What are the rules to create variables in python?


Ans. 
1. It's name can be a combination of letter both upper case and lower case and underscore(_)
2. Variabes cannot be start with digits.
3. Variable can start with _,letter.
4. it can't be reserved keywords.
5. variables are case sensitive.
    i.e var and VAR are different
6. It can be of unlimited length ,python doesn't restrict upon that.

Q.3. What are the standards and conventions followed for the nomenclature of variables in python to improve code readability and maintainability?

1. variable name should be descriptive.
2. It's good to use lower case letters .multiple words separated by underscore.
3. It cannot be reserved keyword of python lifw if,for,else,while.
4. function and variable names should be lowercase,multiple words should be separeted by underscore(_).
  Class name should be camelcase and constants should be UPPER CASE.
5. Be consistent with naming style.
6. Use meaningful words insted of relaying heavily on comments.
7. Avoid single caracter except for constants.( eg. "x","y","i" )
8. Concider the context of  variable.

Q.4. What will happen if a keyword is used as a variable name?

Ans. It will show invalid syntax error.

In [6]:
for =3

SyntaxError: ignored

Q.5. For what purpose def keyword is used?

"def" keyword is used for define a method or function defination.

In [7]:
# for example
def find_sum(num1,num2):
  return num1 + num2

Q.7. Give an example of the following conditions:
(i) Homogeneous list
(ii) Heterogeneous set
(iii) Homogeneous tuple

In [9]:
# i. Homogeneous list
homo_list =[1,2,3,4,5,8,6,7] #(integer array)
# ii. heterogeneous set
hetero_set = {1,"book",4.5,3999,"Harry poter part 1"}
# iii. Homogeneous tuple
homo_tuple =("book1","book2","book3","book4","book5")

Q.8. Explain the mutable and immutable data types with proper explanation & examples.

Ans. 
1. mutable data types.
These are data types which can be modified.Means we can add data ,and update data. (e.g. list,set,dict)
2. immutable data types.
These are the data types which can't be modifid ,we can't update these data types.
(e.g. tuple)

In [12]:
# list are mutable
nums =[1,2,3,4,5,6]
nums.append(2)
nums.append(3)
nums.append(4)
print(nums)
nums[0]=30
nums

[1, 2, 3, 4, 5, 6, 2, 3, 4]

[30, 2, 3, 4, 5, 6, 2, 3, 4]

In [13]:
# tuple are immutable
nums1=(1,2,3,4,5,6)

In [14]:
#
print(nums1[0])
nums1[0]=1

1

TypeError: ignored

Q.9. Write a code to create the given structure using only for loop.

In [19]:
"""
    *
   ***
  *****
 *******
*********
"""
row=5
col =5
for i in range(1,row+1):# 5 row
  for j in range(col-i):#5 colums
    print(" ",end="")
  for k in range(2*i-1):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********

Q.10. Write a code to create the given structure using while loop.

In [21]:
"""
|||||||||
 |||||||
  |||||
   |||
    |
"""
row=5
col =5
for i in range(row,0,-1):# 5 row
  for j in range(col-i):#5 colums
    print(" ",end="")
  for k in range(2*i-1):
    print("|",end="")
  print()

|||||||||
 |||||||
  |||||
   |||
    |